*{
    margin: 0;
    padding: 0;
}
.nav-item{
    font-family: 'Itim', cursive; 
}

.content{
    background-image: url('https://images.unsplash.com/photo-1610641818989-c2051b5e2cfd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzb3J0fGVufDB8fDB8fA%3D%3D&w=1000&q=80');
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.heading{
    color: rgb(131, 141, 54);
    text-align: center;
}
.container-fluid p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;

}
#stay{
    background-color: rgb(190, 229, 237);
   
}
#carouselExampleFade{
    box-shadow: 5px 5px 30px rgb(66, 73, 80);
}

.col-6 h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(66, 72, 78);
    font-weight: 400;
    margin-top: 80px;
}
.col-6 p{
    padding-top: 30px;
    line-height: 2.5rem;
    font-family: 'Quicksand', sans-serif;
    text-align:center;
    font-weight: 600;
    
    
}
.wedding{
    color: rgb(124, 138
    , 138);
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-weight: 600;

    
}
.row img{
    height: 650px;
    width: 100%;
}
.row h4{
    padding-top: 10px;
    margin-top: 15px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    color: rgb(71, 65, 62);
}
.row h5{
    padding-top: 10px;
    margin-top: 15px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    color: rgb(71, 63, 57);
}
.venue{
    text-align: center;
    color: rgb(63, 198, 198);
    font-family: 'Pacifico', cursive;
    margin-top: 15px;
    font-weight: 500;
    font-size: 4rem;
}
.celebration{
    
    margin: 50px 50px;
}
.footer{
    margin-top: 20px;
    background-color: rgb(140, 202, 228);
    width: 100%;
    height: 300px;
}
#icon a :hover{
    color: rgb(255, 0, 51);
}
html {
    scroll-behavior: smooth;
}
